ifcopenshell==0.8.5
numpy==2.4.6
pandas==3.0.3
pillow==12.2.0
pyvista==0.48.4
stpyvista==0.2.1
streamlit==1.57.0
trame==3.13.2
trame-client==3.12.2
trame-common==1.2.3
trame-server==3.12.4
trame-vtk==2.11.8
trame-vuetify==3.2.2
vtk==9.6.2
panel>=1.4.1
nest_asyncio2